body{
    background-color: lightgray;
    margin: 45px;
    padding: 10px 30px;
}
.h1{
    font-weight: 700;
    font-family: Microsoft JhengHei;
    text-align: center;
  
}
.h1-p{
    font-weight: lighter;
    text-align: center;
    border: 1px dashed #FFFFFF;
    font-size:20px
}

    
.h3{
    font-family:fantasy;
    font-style:italic;
    border: 1px solid 	#886600;
    border-left: 10px solid #886600;
}
.section1{
    border: 2px solid #886600;
    padding: 8px 12px;
}